repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-toml
      - id: check-json
      - id: detect-private-key
      - id: mixed-line-ending

  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.4
    hooks:
      - id: go-fmt
      - id: go-imports-repo
        name: go imports repository
        entry: goimports
        types: [ go ]
        language: system
        exclude: |
          (?x)^(
            wire_gen\.go|
            vendor/.*
          )$

  - repo: local
    hooks:
      - id: go-imports-local
        name: go imports with local sort
        entry: goimports -local golang-sample
        language: system
        types: [ go ]
        exclude: |
          (?x)^(
            wire_gen\.go|
            vendor/.*
          )$

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.24.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']
        args: ['--edit']

# mockery hooks
  - repo: local
    hooks:
      - id: mockery
        name: regenerate mockery mocks
        entry: mockery
        language: system
        pass_filenames: false
        files: ^(|.*/|.*_)interface\.go$
