repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.4
    hooks:
      - id: go-fmt
      - id: go-imports-repo
        name: go imports repository
        entry: goimports
        types: [ go ]
        language: system
        exclude: |
          (?x)^(
            wire_gen\.go|
            vendor/.*
          )$

  #      - id: no-go-testing
#      - id: golangci-lint
#      - id: go-unit-tests
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.24.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']
