volumes:
  db_data:
    driver: local

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: golang_sample
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
  app:
    build: .
    container_name: golang-sample-app
    image: haipham22/golang-sample
    ports:
      - "8080:8080"
#    env_file:
#      - .env
