volumes:
  db_data:
    driver: local

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: golang_sample
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
